body {
    background-color: #f3f6fd;
}

ul {
    list-style: none;
}

ul a {
    color: black;
    text-decoration: none;
}

h2 {
    text-align: center;
}

.nav-item {
    font-weight: bolder;
}

.navbar-collapse {
    background-color: #f8f9fa;
}

.searchbox {
    position: relative;
}

.search-placeholder {
    position: relative;
}

.searchbox button {
    border: none;
    position: absolute;
    z-index: 1;
}

.my-background {
    background-size: 100%;
    background-blend-mode: multiply;
    filter: blur(15px);
    margin-top: 60px;
    position: relative;
}

.main-title {
    color: #fff;
    margin-left: 50px;
    position: absolute;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.example-nft {
    position: absolute;
    z-index: 1;
}

.rounded-corner {
    margin-top: 5px;
}

.categories span {
    display: block;
}

.categories a {
    color: #1c1f23;
    text-decoration: none;
}

.secondary-text {
    color: #01a86f;
    font-size: 12px;
}


.main-title-page {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    margin-left: 550px;
}

.nft-page {
    margin-top: 180px;
}

.nft-page h3 {
    margin-top: 20px;
}

.profile-nav a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}


@media screen and (min-width: 3840px) {
    h2 {
        font-size: 60px;
        margin: 200px 0 200px 0;
    }
    .navbar {
        height: 300px;
        font-size: 40px;
    }
    .navbar-brand {
        font-size: 45px;
        margin-left: 60px;
    }
    .nav-item {
        margin: 0 155px 0 150px;
    }
    .search-placeholder {
        margin-left: 35px;
        width: 1050px;
    }
    .searchbox button {
        margin-left: 990px;
        font-size: 30px;
    }
    .my-background {
        height: 2100px;
    }
    .example-nft {
        margin: 700px 700px 0 0;
    }
    .card {
        border-radius: 50px;
    }
    .rounded-corner {
        border-radius: 50px;
    }
    .main-title h1 {
        margin: 1100px 0 0 300px;
        font-size: 100px;
    }
    .card-title {
        font-size: 50px;
    }
    .btn-primary,
    .card-text {
        font-size: 40px;
    }
    .carousel-control-prev-icon {
        height: 250px;
        width: 250px;
    }
    .carousel-control-next-icon {
        height: 250px;
        width: 250px;
    }
    .carousel-item {
        font-size: 70px;
    }
    .categories {
        margin-left: 250px;
        font-size: 45px;
    }
    .secondary-text {
        font-size: 30px;
    }
    .get-start-info {
        margin-bottom: 200px;
    }
    .footer {
        font-size: 45px;
    }
    .footer h3 {
        font-size: 50px;
    }
    .social-media {
        margin: 0 50px 0 50px;
    }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
    h2 {
        font-size: 45px;
        margin: 120px 0 120px 0;
    }
    .navbar {
        height: 150px;
        font-size: 24px;
    }
    .navbar-brand {
        font-size: 32px;
        margin-left: 30px;
    }
    .nav-item {
        margin: 0 42px 0 42px;
    }
    .search-placeholder {
        margin-left: 17px;
        width: 690px;
    }
    .searchbox button {
        margin-left: 650px;
        font-size: 20px;
    }
    .my-background {
        height: 1050px;
    }
    .example-nft {
        margin: 270px 180px 0 0;
    }
    .card {
        border-radius: 25px;
    }
    .rounded-corner {
        border-radius: 25px;
    }
    .main-title h1 {
        margin: 500px 0 0 150px;
        font-size: 50px;
    }
    .card-title {
        font-size: 30px;
    }
    .btn-primary,
    .card-text {
        font-size: 25px;
    }
    .carousel-control-prev-icon {
        height: 135px;
        width: 135px;
    }
    .carousel-control-next-icon {
        height: 135px;
        width: 135px;
    }
    .carousel-item {
        font-size: 45px;
    }
    .categories {
        margin-left: 125px;
        font-size: 28px;
    }
    .secondary-text {
        font-size: 24px;
    }
    .get-start-info {
        margin-bottom: 100px;
    }
    .footer {
        font-size: 35px;
    }
    .footer h3 {
        font-size: 28px;
    }
    .social-media {
        margin: 0 25px 0 25px;
    }
}

@media screen and (max-width: 1366px) {
    h2 {
        margin: 70px 0 70px 0;
    }
    .navbar {
        height: 100px;
        font-size: 18px;
    }
    .navbar-brand {
        font-size: 24px;
        margin-left: 10px;
    }
    .nav-item {
        margin: 0 15px 0 20px;
    }
    .search-placeholder {
        width: 470px;
    }
    .searchbox button {
        margin-left: 420px;
    }
    .my-background {
        height: 800px;
    }
    .example-nft {
        margin: 190px 80px 0 0;
    }
    .card {
        border-radius: 15px;
    }
    .rounded-corner {
        border-radius: 15px;
    }
    .main-title h1 {
        margin: 350px 0 0 50px;
        font-size: 40px;
    }
    .carousel-control-prev-icon {
        height: 50px;
        width: 50px;
    }
    .carousel-control-next-icon {
        height: 50px;
        width: 50px;
    }
    .carousel-item {
        font-size: 30px;
    }
    .categories {
        margin-left: 120px;
        font-size: 18px;
    }
    .secondary-text {
        font-size: 14px;
    }
    .get-start-info {
        margin-bottom: 100px;
    }
    .footer {
        font-size: 18px;
    }
    .footer h3 {
        font-size: 18px;
    }
    .social-media {
        margin: 0 15px 0 15px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1280px) {
    h2 {
        margin: 70px 0 70px 0;
    }
    .navbar {
        height: 100px;
        font-size: 16px;
    }
    .navbar-brand {
        font-size: 24px;
        margin-left: 10px;
    }
    .nav-item {
        margin: 0 20px 0 30px;
    }
    .search-placeholder {
        width: 470px;
    }
    .searchbox button {
        margin-left: 420px;
    }
    .my-background {
        height: 800px;
    }
    .example-nft {
        margin: 190px 80px 0 0;
    }
    .card {
        border-radius: 15px;
    }
    .rounded-corner {
        border-radius: 15px;
    }
    .main-title h1 {
        margin: 350px 0 0 50px;
        font-size: 40px;
    }
    .carousel-control-prev-icon {
        height: 50px;
        width: 50px;
    }
    .carousel-control-next-icon {
        height: 50px;
        width: 50px;
    }
    .carousel-item {
        font-size: 30px;
    }
    .categories {
        margin-left: 120px;
        font-size: 18px;
    }
    .secondary-text {
        font-size: 14px;
    }
    .get-start-info {
        margin-bottom: 100px;
    }
    .footer {
        font-size: 18px;
    }
    .footer h3 {
        font-size: 18px;
    }
    .social-media {
        margin: 0 15px 0 15px;
    }
}

@media screen and (max-width: 575px) {
    .search-placeholder {
        margin-top: 10px;
    }

    .categories {
        margin-left: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 412px) {
    h2 {
        margin: 40px 0 40px 0;
    }
    .navbar {
        height: 100px;
        font-size: 16px;
    }
    .navbar-brand {
        font-size: 24px;
        margin-left: 10px;
    }
    .nav-item {
        margin: 0 20px 0 30px;
    }
    .search-placeholder {
        width: 470px;
    }
    .searchbox button {
        margin-left: 420px;
    }
    .my-background {
        height: 800px;
    }
    .example-nft {
        margin: 190px 0 0 0;
    }
    .card {
        border-radius: 15px;
    }
    .rounded-corner {
        border-radius: 15px;
    }
    .main-title h1 {
        margin: 350px 0 0 0;
        font-size: 30px;
    }
    .carousel-control-prev-icon {
        height: 50px;
        width: 50px;
    }
    .carousel-control-next-icon {
        height: 50px;
        width: 50px;
    }
    .carousel-item {
        font-size: 30px;
    }
    .categories {
        margin-left: 10px;
        font-size: 18px;
    }
    .secondary-text {
        font-size: 14px;
    }
    .get-start-info {
        margin-bottom: 100px;
    }
    .footer {
        font-size: 18px;
    }
    .footer h3 {
        font-size: 18px;
    }
    .social-media {
        margin: 0 15px 0 15px;
    }
}